<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
  <p class="center bold mdl-color--deep-purple-500 mdl-color-text--black-A700"><%= msg %></p>
  <% end %>
<% end %>

<%= render partial: "users/user_form", locals: { user: @user} %>
