<%= render partial: "application/bannernodrawer", locals: {page_name: @page_name} %>
<%= render "application/main" %>

<div class="mdl-grid">
  <% @stories.each do |story| %>
    <% case story["size"] %>
      <% when "splash" %>
        <% render "application/article_splash" %>
      <% when "big" %>
        <% render "application/article_big" %>
      <% when "medium" %>
        <% render "application/article_medium" %>
      <% when "small" %>
        <% render "application/article_small" %>
    <% end %>
  <% end %>
</div>
