<div class="mdl-cell mdl-cell--4-col-phone round mdl-cell--2-col">
  <%= render partial: 'more_button', locals: {story: story} %>

  <span class="mdl-typography--body-1"><%= link_to story["preferred"].title, story["preferred"].url %></span><br>

  <span class="mdl-typography--body-1 mdl-color-text--grey-500"><%= story["preferred"].subscription.name %></span>

  <%= render partial: 'related', locals: {story: story} %>
</div>
