<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-color--orange-300">
    <span id="banner" class="mdl-typography--display-3"><%= page_name %></span>
  </header>
