<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-color--orange-300 mdl-layout__header--scroll">
    <span id="banner" class="mdl-typography--display-3"><%= page_name %></span>
  </header>

