<div class="mdl-layout mdl-js-layout mdl-layout--drawer mdl-layout--overlay-drawer-button">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><a href="#placeholder">Edit Subscriptions</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#placeholder">World</a>
      <a class="mdl-navigation__link" href="#placeholder">Nation</a>
      <a class="mdl-navigation__link" href="#placeholder">Local</a>
      <a class="mdl-navigation__link" href="#placeholder">Financial</a>
      <a class="mdl-navigation__link" href="#placeholder">Science</a>
      <a class="mdl-navigation__link" href="#placeholder">Sports</a>
      <a class="mdl-navigation__link" href="#placeholder">Arts</a>
      <a class="mdl-navigation__link" href="#placeholder">Entertainment</a>
    </nav>
  </div>
