<div class="masthead">
  <p class="logo">
    <img src="assets/images/eelogo.jpg" alt="The Evening Edition" border=0>
  </p>

  <p>
    <span class="mdl-typography--title">For July 24, 2015</span><br>
    <span class="mdl-typography--caption">Updated each day at 5 pm Chicago local time</span>
  </p>

  <p class="mdl-typography--caption">
    Personalized for John Smith / Log out
  </p>

  <p class="mdl-typography--caption">
    Members receive personalized subscriptions, personalized sections,<br>
    and personalized delivery times. <%= link_to "Create a free account" new_user_path %> or<br>
    <%= link_to "log in" login_user_path %> now.
  </p>
</div>
